.book-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: calc(25% - 16px);
    box-sizing: border-box;
    gap: 10px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.book-img {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    border-radius: 30px;
    box-sizing: border-box;
    background: #FFFFFF;
    overflow: hidden;
}

.book-img img {
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
}

.title-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border-radius: 30px;
    background: #FFFFFF;

    width: 100%;

    padding: 10px;
    box-sizing: border-box;
}

.title {
    width: 100%;
    justify-content: center;
    text-align: center;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;

    color: #000000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price-buyButton {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.price {
    width: 45%;
    display: flex;
    justify-content: center;
    color: #FF0000;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;

}

.buy-button-container {
    width: 45%;
}

.buy-button {
    /* price */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 100%;

    background: #FFD012;
    border-radius: 50px;
    border: none;
    transition: background 0.3s ease;
}

.buy-button:hover {
    background: #ffe281;
    cursor: pointer;
}

/* ------------------------------------------------------------------------- */
@media (max-width: 768px) {
    .book-item{
        width: 80%;
        margin-bottom: 30px;
    }
}