.books-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
}

/* ------------------------------------------------------------------------- */
@media (max-width: 768px) {
    .books-list{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}